@use 'variables' as *;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Headings
h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-md;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
}

h1 {
  font-family: "Space Grotesk", "Space Grotesk Placeholder", sans-serif;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

// Paragraphs
p {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 34px;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
  text-align: start;
  margin-bottom: 0;
}

// Links
a {
  color: $primary-color;
  transition: $transition-base;

  &:hover {
    color: $secondary-color;
  }
} 